In [1]:
import pandas as pd

In [2]:
### Problem 1
year    = pd.Series([2017, 2018, 800])
revenue = pd.Series([1000, 1200, 1500])
expense = pd.Series([800, 900, 1100])

data = pd.DataFrame({"year": year, "revenue": revenue, "expense": expense})
data

   year  revenue  expense
0  2017     1000      800
1  2018     1200      900
2   800     1500     1100

In [3]:
### Problem 2
data["savings"] = data["revenue"] - data["expense"]
data["persons"] = ["abc", "def", "ghi"]
data

   year  revenue  expense  savings persons
0  2017     1000      800      200     abc
1  2018     1200      900      300     def
2   800     1500     1100      400     ghi

In [4]:
### Problem 3
data = pd.read_csv("Tutorial-1-tips.csv")
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4